.results-container {
    margin: 1rem auto;
    max-width: 800px;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
}

p {
    margin-bottom: 2rem;
}

.home-btn {
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: 600;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
}