.quiz-container {
    margin: 1rem auto;
    max-width: 800px;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 12px;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exit-btn {
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: 600;
    background-color: red;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
}

.quiz-footer {
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    padding: 8px 16px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

.submit {
    background-color: green;
    color: white;
    text-decoration: none;
}

.disabled {
    cursor: not-allowed;
}