<div class="quiz-container">
    @if (questions().length > 0) {
        <header class="quiz-header">
            <h2>Quiz</h2>
            <a [routerLink]="['/']" class="exit-btn">Exit</a>
        </header>
        <hr>
        <main class="question-area">
            @if (currentQuestion(); as question) {
                <div class="question-card">
                    <span>Question {{ currentIndex() + 1 }}</span>
                    <h3>{{ question.text }}</h3>
                </div>
                <div class="options-list">
                    @for (ans of question.answers; track ans) {
                        <label class="option-row">
                            <input 
                            [type]="question.type === 'SingleChoice' ? 'radio' : 'checkbox'" 
                            [name]="question.id" 
                            [value]="ans"
                            [checked]="isSelected(ans.id)"
                            (change)="toggleAnswer(ans.id)">
                            {{ ans.text }}
                        </label>
                    }
                </div>
            }
        </main>
        <footer class="quiz-footer">
            <button 
                class="nav-btn" 
                (click)="prevQuestion()" 
                [disabled]="currentIndex() === 0", 
                [class.disabled] = "currentIndex() === 0">
                Previous
            </button>
            @if(isLastQuestion()){
                <a class="nav-btn submit" (click)="submitQuiz()">
                    Submit
                </a>
            } @else {
                <button class="nav-btn" (click)="nextQuestion()">
                    Next
                </button>
            }
        </footer>
    }
    @else {
        <p>Loading Quiz...</p>
    }
</div>
