.quiz-container {
    margin: 1rem auto;
    max-width: 800px;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 12px;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn, .exit-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: inherit;
    font-size: 1rem;

    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;

    line-height: 1;
}

.exit-btn {
    color: white;
    font-weight: 600;
    background-color: red;
}

.quiz-footer {
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
}

.submit {
    background-color: green;
    color: white;
    text-decoration: none;
}

.disabled {
    cursor: not-allowed;
}