/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #6b46c1;

    --accent: #d53f8c;

    --bg-white: #ffffff;
    --bg-light: #f7fafc;

    --text-dark: #2d3748;
    --text-light: #e2e8f0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
